*{
    padding: 0px;
    margin: 0px auto;
}
body{
    background-image: url(../img/backgroundweb.jpg);
}
.wrapper{
    height: 800px;
    width: 1089px;
    background-color:antiquewhite;
}
nav{
    height: 50px;
    width: 1089px;
    line-height: 50px;
    background-color: rgb(245, 207, 161);
}

header{
    height: 150px;
    width: 1089px;
    background-image: url(../img/header.jpg);
    text-align: center;
    line-height: 150px;
    font-size: 100px;
    color: orange;
    text-shadow: 2px 2px 2px #c01;
}
.content{
    height: 400px;
    width: 1089px;
    background-color: rgb(146, 194, 240);
}
aside{
    height: 400px;
    width: 400px;
    background-color: rgb(250, 255, 176);
    float: left;
}
.content aside article h5{
    position: absolute;
    font-weight: bold;
    color: white;
    text-shadow: 10px 20px 20px plum;

}
section{
    height: 400px;
    width: 689px;
    background-color: rgb(240, 227, 227);
    float: left;
}
.menu li{
    float: left;
    width: 150px;
    height: 50px;
    line-height: 50px;
    list-style: none;
    text-indent: 20px;
    background-color: rgb(243, 127, 127);
    position: relative;
}
a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.menu li:hover{
    background-color: pink;
}

li:hover>a{
    color: blue;
    font-style: italic;
}

.menu li .submenu{
    display: none;
    position: absolute;
}
.menu li:hover .submenu{
    display: block;
}
nav span form #txtEmail{
    padding: 3px;
    color: blue
}
nav span form #btnGO{
    padding: 3px;
    color: orange;
    border-radius: 50%;
    text-shadow: 2px 2px 2px #c01;
}